<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand py-2" href="/">{{{data.logoLink}}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/personal">Personal Legal Protection</a>
            </li>
            <li class="nav-item ml-lg-4">
                <a class="nav-link" href="/identity">Identity Theft Protection</a>
            </li>
            <li class="nav-item ml-lg-4">
                <a class="nav-link" href="/business">Small Business Protection</a>
            </li>
            <li class="nav-item ml-lg-4">
                <a class="nav-link" href="/benefits">Employee Benefits</a>
            </li>
            <li class="nav-item ml-lg-4 dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-boundary="viewport" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    More
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/team">Join the Team</a>
                    <a class="dropdown-item" href="https://www.shieldnation.com/start">Training</a>
                    <a class="dropdown-item" href="/resources">Resources</a>
                    <a class="dropdown-item" href="/contact">Contact Us</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3500"
    data-pause="false">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="position-relative text-center" style="height: 100%;">
                <img class="w-100" src=" ./images/home-header/pic-1.jpg" alt="First slide" style="z-index: -1;">
            </div>
        </div>
        <div class="carousel-item">
            <div class="position-relative text-center" style="height: 100%;">
                <img class="w-100" src=" ./images/home-header/pic-2.jpg" alt="First slide" style="z-index: -1;">
            </div>
        </div>
        <div class="carousel-item">
            <div class="position-relative text-center" style="height: 100%;">
                <img class="w-100" src=" ./images/home-header/pic-3.jpg" alt="First slide" style="z-index: -1;">
            </div>
        </div>
    </div>
</div>
<div style="background-color: rgb(146, 109, 163)">
    <h2 class="text-center py-3 font-weight-light text-light">
        Click The Icons Below To See What We Cover
    </h2>
</div>
<div class="container">
    <div class="row">
        <div style="height: 50vh;" class="col col-lg-3 d-flex align-items-center justify-content-center">
            <div class="text-center">
                <button type="button" class="btn btn-transparent" data-toggle="modal" data-target="#personalModal">
                    <i class="fas fa-file-signature fa-5x d-inline-block" style="color: rgb(115,71,136)"></i>
                    </a>
                    <p class="lead mt-3">Legal Protection</p>
            </div>
        </div>
        <div class="modal fade" id="personalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header text-dark">
                        <h5 class="modal-title" id="exampleModalLabel" style="color: rgb(115,71,136)">Legal Protection</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-light" style="background-color: rgb(115,71,136)">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col px-5">
                                    <h2 class="text-light">
                                        We’re making smart legal coverage affordable.
                                    </h2>
                                    {{!-- <p class="font-weight-light font-italic">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, est
                                        doloribus!
                                    </p> --}}
                                    <hr>
                                    <p>
                                        What if instead of shelling out hefty fees for a few
                                        days of legal help, you paid a low monthly membership fee and got a top-rated
                                        law firm for life?
                                        Well, we're taking legal representation and making some revisions—in the form
                                        of accessible, affordable, full-service coverage. Finally, you can live life
                                        knowing you have a lawyer in your back pocket who, at the same time, isn't
                                        emptying it.
                                    </p>
                                    <div class="row">
                                        <div class="col col-lg-6">
                                            <p class="text-left font-weight-bold">
                                                What Your Legal Plan Covers:
                                            </p>
                                            <ul>
                                                <li>
                                                    Legal Advice, Consultation and Representation
                                                </li>
                                                <li>
                                                    Document and Contract Review
                                                </li>
                                                <li>
                                                    Letters and Phone Calls Made On Your Behalf
                                                </li>
                                                <li>
                                                    Legal Document Preperation
                                                </li>
                                                <li>
                                                    Family Legal Services
                                                </li>
                                                <li>
                                                    Traffic Citation Assistance
                                                </li>
                                                <li>
                                                    Estate Planning (Wills)
                                                </li>
                                                <li>
                                                    IRS Audit Representation
                                                </li>
                                                <li>
                                                    Trial Defense Protection
                                                </li>
                                                <li>
                                                    24/7 Emergency Assistance
                                                </li>
                                                <li>
                                                    25% Preferred Member Discount
                                                </li>
                                                <li>
                                                    Mobile App
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col col-lg-6">
                                            <p class="text-left font-weight-bold">
                                                Who We Cover:
                                            </p>
                                            <ul>
                                                <li>
                                                    The member
                                                </li>
                                                <li>
                                                    The member's spouse/domestic partner
                                                </li>
                                                <li>
                                                    Never-married dependent children under age 26 living at home
                                                </li>
                                                <li>
                                                    Dependent children under age 18 for whom the member is legal
                                                    guardian
                                                </li>
                                                <li>
                                                    Never married, dependent, children who are full-time college
                                                    students up to age 26
                                                </li>
                                                <li>
                                                    Physically or mentally disabled children living at home
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p>
                                        Download our legal plan brochure with plan details...
                                    </p>
                                    <a href="./dlc/LegalShield-Protection.pdf" class="btn btn-secondary" download>
                                        Download
                                    </a>
                                    <a href="/personal" class="btn btn-secondary">
                                        Learn More
                                    </a>
                                    <a href={{data.defaultLink}} target="_blank" class="btn btn-primary">
                                        See Rates
                                    </a>
                                    <a href={{data.defaultLink}} target="_blank" class="btn btn-primary">
                                        Enroll Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 50vh;" class="col col-lg-3 d-flex align-items-center justify-content-center">
            <div class="text-center">
                <button type="button" class="btn btn-transparent" data-toggle="modal" data-target="#identityModal">
                    <i class="fas fa-user-shield fa-5x d-inline-block" style="color: rgb(115,71,136)"></i>
                </button>
                <p class="lead mt-3">Identity Theft Protection</p>
            </div>
        </div>
        <div class="modal fade" id="identityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header text-dark">
                        <h5 class="modal-title" id="exampleModalLabel" style="color: rgb(115,71,136)">Identity Theft
                            Protection</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-light bg-primary">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col px-5">
                                    <h2 class="text-light">
                                        Millions of people lose their identities every year... don't be one of them.
                                    </h2>
                                    {{!-- <p class="font-weight-light font-italic">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, est
                                        doloribus!
                                    </p> --}}
                                    <hr>
                                    <p>
                                        Identity theft has been one of the top consumer complaints filed with the FTC
                                        for 16 years straight. Victims are spending an exorbitant amount of time and
                                        money dealing with it. The criminals are getting smarter. That's why you need
                                        identity theft protection that's more than a website. Our Licensed Private
                                        Investigators will do whatever it takes for as long as it takes to restore your
                                        identity to its pre-theft status. You have our $5 million service guarantee.
                                    </p>
                                    <div class="row">
                                        <div class="col col-lg-6">
                                            <p class="text-left font-weight-bold">
                                                What Your IDShield Plan Covers:
                                            </p>
                                            <ul>
                                                <li>
                                                    Privacy Monitoring and Alerts
                                                </li>
                                                <li>
                                                    Security Monitoring and Alerts
                                                </li>
                                                <li>
                                                    Credit Monitoring and Alerts
                                                </li>
                                                <li>
                                                    Credit Score Tracker
                                                </li>
                                                <li>
                                                    Identity Consultation Services
                                                </li>
                                                <li>
                                                    Complete Identity Restoration
                                                </li>
                                                <li>
                                                    Mobile App
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col col-lg-6">
                                            <p class="text-left font-weight-bold">
                                                Who We Cover:
                                            </p>
                                            <ul>
                                                <li>
                                                    IDShield Family - This plan covers you, your spouse, or domestic
                                                    partner, and up to 8 dependents.
                                                </li>
                                                <li>
                                                    IDShield Inidividual - This plan covers you, the named member,
                                                    only.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p>
                                        Download our identity theft plan brochure with plan details...
                                    </p>
                                    <a href="./dlc/IDShield-Protection.pdf" class="btn btn-secondary" download>
                                        Download
                                    </a>
                                    <a href="/identity" class="btn btn-secondary">
                                        Learn More
                                    </a>
                                    <a href={{data.defaultLink}} target="_blank" class="btn btn-dark">
                                        See Rates
                                    </a>
                                    <a href={{data.defaultLink}} target="_blank" class="btn btn-dark">
                                        Enroll Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 50vh;" class="col col-lg-3 d-flex align-items-center justify-content-center">
            <div class="text-center">
                <button type="button" class="btn btn-transparent" data-toggle="modal" data-target="#businessModal">
                    <i class="fas fa-hotel fa-5x d-inline-block" style="color: rgb(115,71,136)"></i>
                </button>
                <p class="lead mt-3">Small Business Protection</p>
            </div>
        </div>
        <div class="modal fade" id="businessModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header text-dark">
                        <h5 class="modal-title" id="exampleModalLabel" style="color: rgb(115,71,136)">Small Business
                            Legal Protection</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-light" style="background-color: rgb(115,71,136)">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col px-5">
                                    <h2 class="text-light">
                                        Legal protection for your business is vital.
                                    </h2>
                                    <p class="font-weight-light font-italic">
                                        So is having options.
                                    </p>
                                    <hr>
                                    <p>
                                        Unexpected legal matters comes up every day. YOu know your business needs legal
                                        protection, but you want to make sure you get the right amount. LegalShield has
                                        the answer.
                                    </p>
                                    <p>
                                        We offer three levels of legal protection for different sizes of small
                                        businesses. That way, you only pay for what you need. Whichever you choose, we
                                        help your business with any legal matter, from legal consultation and contract
                                        reviews to debt collection and more. And since your dedicated law firm is
                                        prepaid, its sole focus is on serving you, rather than billing you.
                                    </p>
                                    <p>
                                        So get the level of legal protection your company needs. And get the peace of
                                        mind you want. We give companies like your big business resources on a small
                                        business budget.
                                    </p>
                                    <div class="row">
                                        <div class="col col-lg-6">
                                            <p class="text-left font-weight-bold">
                                                What Your Legal Plan Covers:
                                            </p>
                                            <ul>
                                                <li>
                                                    Legal Advice, Consultation and Representation
                                                </li>
                                                <li>
                                                    Document and Contract Review
                                                </li>
                                                <li>
                                                    Letters and Phone Calls Made On Your Behalf
                                                </li>
                                                <li>
                                                    Legal Correspondence Preparation
                                                </li>
                                                <li>
                                                    Collection Letters
                                                </li>
                                                <li>
                                                    Trial Defense For Business
                                                </li>
                                                <li>
                                                    25% Preferred Member Discount
                                                </li>
                                                <li>
                                                    Mobile App
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col col-lg-6">
                                            <p class="text-left font-weight-bold">
                                                Who We Cover:
                                            </p>
                                            <p>
                                                We provide outstanding legal coverage from established law firms in 50
                                                states and four Canadian provinces. We offer three levels of legal
                                                protection for differenct sizes of small businesses. Check our rates
                                                below to find the plan that is the best fit for you.
                                            </p>
                                        </div>
                                    </div>
                                    <p>
                                        Download our small business legal plan brochure with plan details...
                                    </p>
                                    <a href="./dlc/Small-Business-Protection.pdf" class="btn btn-secondary" download>
                                        Download
                                    </a>
                                    <a href="/business" class="btn btn-secondary">
                                        Learn More
                                    </a>
                                    <a href={{data.defaultLink}} target="_blank" class="btn btn-primary">
                                        See Rates
                                    </a>
                                    <a href={{data.defaultLink}} target="_blank" class="btn btn-primary">
                                        Enroll Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 50vh;" class="col col-lg-3 d-flex align-items-center justify-content-center">
            <div class="text-center">
                <button type="button" class="btn btn-transparent" data-toggle="modal" data-target="#benefitsModal">
                    <i class="fas fa-users fa-5x d-inline-block" style="color: rgb(115,71,136)"></i>
                </button>
                <p class="lead mt-3">Employee Benefits</p>
            </div>
        </div>
        <div class="modal fade" id="benefitsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header text-dark">
                        <h5 class="modal-title" id="exampleModalLabel" style="color: rgb(115,71,136)">Legal and
                            Identity Theft Employee Benefits</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-light" style="background-color: rgb(115,71,136)">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col px-5">
                                    <h2 class="text-light">
                                        Peace of mind. For your employees.
                                    </h2>
                                    <p class="font-weight-light font-italic">
                                        And for you.
                                    </p>
                                    <hr>
                                    <p>
                                        LegalShield gives your employees the ability to talk to an attorney about any
                                        matter without worrying about high hourly costs. From the trivial to the
                                        traumatic and everything in between, our plans are designed to meet the most
                                        common legal needs encountered by employees and their families. Plus, at one
                                        low monthly fee, it's completely affordable.
                                    </p>
                                    <p>
                                        Using LegalShield is simple. Members dial a toll-free number, and they're
                                        connected with a designated provider law firm. They describe their situation,
                                        and a lawyer experienced in that area of law will call them back wihtin eight
                                        hours. We make it easy for your employees, which in turn makes it easy for you.
                                    </p>
                                    <div class="row">
                                        <div class="col col-lg-6">
                                            <p class="text-left font-weight-bold">
                                                What Your Legal Plan Covers:
                                            </p>
                                            <ul>
                                                <li>
                                                    Legal Advice, Consultation and Representation
                                                </li>
                                                <li>
                                                    Document and Contract Review
                                                </li>
                                                <li>
                                                    Letters and Phone Calls Made On Your Behalf
                                                </li>
                                                <li>
                                                    Legal Document Preperation
                                                </li>
                                                <li>
                                                    Family Legal Services
                                                </li>
                                                <li>
                                                    Traffic Citation Assistance
                                                </li>
                                                <li>
                                                    Estate Planning (Wills)
                                                </li>
                                                <li>
                                                    IRS Audit Representation
                                                </li>
                                                <li>
                                                    24/7 Emergency Assistance
                                                </li>
                                                <li>
                                                    25% Preferred Member Discount
                                                </li>
                                                <li>
                                                    Mobile App
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col col-lg-6">
                                            <p class="text-left font-weight-bold">
                                                How You Will Benefit:
                                            </p>
                                            <ul>
                                                <li>
                                                    Reduced Absenteeism
                                                </li>
                                                <li>
                                                    Increased Productivity
                                                </li>
                                                <li>
                                                    Decreased Employee Stress
                                                </li>
                                                <li>
                                                    Keeps a Progressive Company Image
                                                </li>
                                                <li>
                                                    Simplified Implementation
                                                </li>
                                                <li>
                                                    On-site Enrollment Process
                                                </li>
                                                <li>
                                                    Designated Service Representative
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p>
                                        Download our employees benefits brochure for HR Professionals or Contact us for
                                        a free consultation
                                    </p>
                                    <a href="./dlc/LegalShield-Employee-Benefits.pdf" class="btn btn-secondary"
                                        download>
                                        Download
                                    </a>
                                    <a href="/benefits" class="btn btn-secondary">
                                        Learn More
                                    </a>
                                    <a href="/contact" class="btn btn-primary">
                                        Contact Us
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="background-color: rgb(146, 109, 163)" class="py-3">
    <a href="/team" class="text-light">
        <h2 class="text-center font-weight-light grow">
            Want To Earn Extra Income? Looking For A New Career?
        </h2>
    </a>
    <p class="text-center font-weight-light text-light mb-0">Click above to learn more about starting your own
        part-time
        or
        full-time LegalShield business.</p>
</div>
<div style="background-color: rgb(115,71,136);">
    <div class="row no-gutters">
        <div class="col col-lg-6 d-flex align-items-center">
            <div class="container pl-5 text-light">
                <h2 class="text-white pt-3">
                    Get To Know Us
                </h2>
                <hr>
                <p>
                    {{data.about}}
                </p>
            </div>
        </div>
        <div class="col col-lg-6 d-flex justify-content-center align-items-center">
            <div>
                {{!-- 1078 or 1110 --}}
                <img class="shadow-lg pt-3" src={{data.imageLink}} alt="Image Not Found" style="width: 450px; height: auto;">
                <p class="text-light font-weight-light font-italic text-center">
                    {{data.firstName}}&nbsp;{{data.lastName}}
                </p>
            </div>
        </div>
    </div>
</div>
<script src="./javascript/slideshow.js"></script>